.bg-rainy {
  background-image: url("./assets/images/rainy.jpg");
}

.bg-cloudy {
  background-image: url("./assets/images/cloudy.jpg");
}

.bg-sunny {
  background-image: url("./assets/images/sunny.jpg");
}
